.leaflet-geotag-photo-crosshair {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 999;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.leaflet-geotag-photo-crosshair > * {
  position: relative;
  z-index: 1001;
  margin: auto;
}

.leaflet-control-geotag-photo-camera,
.leaflet-control-geotag-photo-crosshair {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
}